body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
}

.image {
    font-size: 0;
    padding-right: 50px;
}

img { 
    height: 100vh;
    width: auto;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
